In [1]:
import sys
sys.path.insert(0, '/home/payam/workspace/master_project/src/prediction/')
sys.path.insert(0, '/home/payam/workspace/master_project/src/feature_extractor/')
from SimpleFeatureExtractor import SimpleFeatureExtractor
from EuclideanDistancePredictor import EuclideanDistancePredictor
from CombinedDistancePredictor import CombinedDistancePredictor

In [2]:
#extractor = SimpleFeatureExtractor()
#postfix1 = extractor.postfix
#print postfix1 
#%time extractor.save_features()
extractor = SimpleFeatureExtractor(model_name = 'bvlc_googlenet', layer_name = 'pool5/7x7_s1')
postfix2 = extractor.postfix
print postfix2
%time extractor.save_features()
del extractor

_bvlc_googlenet_pool57x7_s1_0
CPU times: user 3h 53min 22s, sys: 5min 11s, total: 3h 58min 33s
Wall time: 2h 33min 8s

In [6]:
postfix1 = '__bvlc_reference_caffenetfc80'
postfix2 = '__bvlc_googlenet_pool57x7_s1_0'

In [8]:
predictor = EuclideanDistancePredictor( feature_file_postfix=postfix1)
%time res1 = predictor.predict()
res1

CPU times: user 4.73 s, sys: 20 ms, total: 4.75 s
Wall time: 4.75 s

{'book_covers': {'5800': 21.782178217821784,
  'Canon': 25.742574257425744,
  'Droid': 28.71287128712871,
  'iPhone': 34.65346534653465},
 'business_cards': {'Canon': 19.0, 'Droid': 22.0, 'E63': 20.0, 'Palm': 9.0},
 'cd_covers': {'Canon': 21.0, 'Droid': 50.0, 'E63': 23.0, 'Palm': 19.0},
 'dvd_covers': {'Canon': 28.000000000000004,
  'Droid': 30.0,
  'E63': 7.000000000000001,
  'Palm': 9.0},
 'landmarks': {'Query': 9.980039920159681},
 'museum_paintings': {'Canon': 26.373626373626376,
  'Droid': 31.868131868131865,
  'E63': 28.57142857142857,
  'Palm': 29.67032967032967},
 'print': {'Canon': 7.000000000000001, 'Droid': 2.0, 'E63': 3.0, 'Palm': 3.0}}

In [9]:
predictor = CombinedDistancePredictor( feature_file_postfix=postfix2)
%time res2 = predictor.predict()
res2

CPU times: user 29.3 s, sys: 40 ms, total: 29.3 s
Wall time: 29.3 s

{'book_covers': {'5800': 38.613861386138616,
  'Canon': 41.584158415841586,
  'Droid': 39.603960396039604,
  'iPhone': 49.504950495049506},
 'business_cards': {'Canon': 36.0, 'Droid': 42.0, 'E63': 44.0, 'Palm': 19.0},
 'cd_covers': {'Canon': 39.0, 'Droid': 68.0, 'E63': 45.0, 'Palm': 42.0},
 'dvd_covers': {'Canon': 41.0, 'Droid': 40.0, 'E63': 16.0, 'Palm': 15.0},
 'landmarks': {'Query': 26.94610778443114},
 'museum_paintings': {'Canon': 40.65934065934066,
  'Droid': 43.956043956043956,
  'E63': 41.75824175824176,
  'Palm': 32.967032967032964},
 'print': {'Canon': 14.000000000000002, 'Droid': 5.0, 'E63': 8.0, 'Palm': 6.0}}

In [10]:
import pandas as pd
from pandas import DataFrame

In [11]:
df1 = DataFrame(res1)

In [12]:
df1

,book_covers,business_cards,cd_covers,dvd_covers,landmarks,museum_paintings,print
5800,21.782178,NaN,NaN,NaN,NaN,NaN,NaN
Canon,25.742574,19.0,21.0,28.0,NaN,26.373626,7.0
Droid,28.712871,22.0,50.0,30.0,NaN,31.868132,2.0
E63,NaN,20.0,23.0,7.0,NaN,28.571429,3.0
Palm,NaN,9.0,19.0,9.0,NaN,29.670330,3.0
Query,NaN,NaN,NaN,NaN,9.98004,NaN,NaN
iPhone,34.653465,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df2 = DataFrame(res2)
df2

,book_covers,business_cards,cd_covers,dvd_covers,landmarks,museum_paintings,print
5800,38.613861,NaN,NaN,NaN,NaN,NaN,NaN
Canon,41.584158,36.0,39.0,41.0,NaN,40.659341,14.0
Droid,39.603960,42.0,68.0,40.0,NaN,43.956044,5.0
E63,NaN,44.0,45.0,16.0,NaN,41.758242,8.0
Palm,NaN,19.0,42.0,15.0,NaN,32.967033,6.0
Query,NaN,NaN,NaN,NaN,26.946108,NaN,NaN
iPhone,49.504950,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
import numpy as np
df2.replace(np.nan, '-')

,book_covers,business_cards,cd_covers,dvd_covers,landmarks,museum_paintings,print
5800,38.6139,-,-,-,-,-,-
Canon,41.5842,36,39,41,-,40.6593,14
Droid,39.604,42,68,40,-,43.956,5
E63,-,44,45,16,-,41.7582,8
Palm,-,19,42,15,-,32.967,6
Query,-,-,-,-,26.9461,-,-
iPhone,49.505,-,-,-,-,-,-